a.active{
    background: #DADDEB;
    border-left: 2px inset #9D78E5 ;
    transition: all 0.3s;
}

.dark-mode a.active{
    background: #3f3f3f;
    border-left: 2px inset #9D78E5 ;

}





a.active i , a.active span{
    color: #9D78E5;
}

.newTaskButton{
    background: linear-gradient(90deg,#9D78E5 0%, #4BB6D8 100% );
}
.newTaskButton:hover{
    background: linear-gradient(90deg,#9472da 0%, #47aac9 100% );
}





.asideOpen{
    animation: AsideOpen .3s ;
    right: 0;
    transition: all 0.3s;


}

@keyframes AsideOpen{
    from{
        right: -106px ;
    }
    to{
        right: 0;
        display: flex;
    }
}


@media (max-width: 550px){
    .tasksContainer{
        grid-template-columns: repeat(auto-fill,minmax(300px ,1fr));
    }
}


@keyframes ldio-e8ncj395bfd {
  0% { transform: translate(-50%,-50%) rotate(0deg); }
  100% { transform: translate(-50%,-50%) rotate(360deg); }
}
.ldio-e8ncj395bfd div {
  position: absolute;
  width: 52px;
  height: 52px;
  border: 8px solid #4bb6d8;
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-e8ncj395bfd div {
  animation: ldio-e8ncj395bfd 1.1111111111111112s linear infinite;
  top: 97px;
  left: 97px
}
.loadingio-spinner-rolling-rx4arcfosn {
  width: 194px;
  height: 194px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-e8ncj395bfd {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-e8ncj395bfd div { box-sizing: content-box; }

.hide-scrollbar::-webkit-scrollbar {
    display: none; /* para navegadores basados en WebKit como Chrome y Safari */
  }
  
  .hide-scrollbar {
    -ms-overflow-style: none;  /* para IE y Edge */
    scrollbar-width: none; /* para Firefox */
  }

  .loader {
    width: 18px;
    height: 18px;
    border: 2px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 